autolyticaprod/linkedTemplates/ArmTemplate_12.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "autolyticaprod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DetailedVehSales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DetailedSales",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DetailedSales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DetailedSales": {},
									"SQLDMSDetailedSalesMerge": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-10T12:22:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EnquiryMAXEnquiries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EnquiryMAXEnquiries",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "EnquiryMAX_Enquiries",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EnquiryMAXEnquiriesJSON": {},
									"EnquiryMAXEnquiries": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-03T21:08:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetSchemas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSourceInformation",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "GetSourceInformation",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-13T22:04:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ImportUnleashed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ImportUnleashed",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Unleashed",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"UnleashedInvoicesJSON": {},
									"UnleashedProductsJSON": {},
									"UnleashedCustomers": {},
									"UnleashedSalesOrders": {},
									"UnleashedProductGroups": {},
									"UnleashedStockOnHand": {},
									"SQLUnleashedInvoices": {},
									"SQLUnleashedInvoiceItems": {},
									"SQLUnleashedProducts": {},
									"SQLUnleashedCustomers": {},
									"SQLUnleashedSalesOrders": {},
									"SQLSalesOrderLines": {},
									"SQLUnleashedProductGroups": {},
									"SQLUnleashedStock": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-20T22:39:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PartsSales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyPartsSales",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyPartsSales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PeterVardyPartsSales": {},
									"SQLDMSPartsSales": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-09T21:38:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyDetailedSales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyDetailedSales",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyDetailedSales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PeterVardyDetailedSales": {},
									"SQLDMSDetailedSales": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ReferenceTableUpdate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PeterVardyDetailedSales",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DoReferenceTableUpdate]",
							"storedProcedureParameters": {
								"SourceSystemID": {
									"value": "6",
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-25T13:33:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyDetailedSales_Older')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyDetailedSales_Older",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyDetailedSales_Older",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PeterVardyDetailedSales": {},
									"SQLDMSDetailedSales": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ReferenceTableUpdate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PeterVardyDetailedSales_Older",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DoReferenceTableUpdate]",
							"storedProcedureParameters": {
								"SourceSystemID": {
									"value": "11",
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-25T13:33:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyEnquiryMAX_Temp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyEnquiryMAX",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "CopyFromXLSToCSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyEnquiryMAX",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PeterVardyEnquiryMAX": {},
									"SQLPeterVardyEnquiryMAX": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "CopyFromXLSToCSV",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Branch",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Branch",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Sales Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sales Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Enquiry No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Enquiry No",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Title",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Forename",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Forename",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Surname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Surname",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Company Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Company Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Home Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Home Phone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Mobile Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mobile Phone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Work Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Work Phone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Enquiry Created",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Enquiry Created",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Enquiry Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Enquiry Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Sales Executive",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sales Executive",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Business Manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Business Manager",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "N/U",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "N/U",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vehicle Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vehicle Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Range",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Derivative",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Derivative",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Registration No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Registration No",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Registration Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Registration Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Stock No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Stock No24",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Group Date in Stock",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Group Date in Stock",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Branch Date in Stock",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Branch Date in Stock",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "First Order Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "First Order Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Enquiry Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Enquiry Status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Invoiced Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoiced Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Expected Delivery Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Expected Delivery Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Delivery Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Delivery Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Delivery Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Delivery Category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Metal Only",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Metal Only",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OTR Price exc Ins",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OTR Price exc Ins",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Goods & Services inc Ins",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Goods & Services inc Ins",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Financed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Financed",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Finance Provider",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Finance Provider",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fin Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fin Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Finance Scheme",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Finance Scheme",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Loan Term",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Loan Term",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "APR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "APR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Flat Rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flat Rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Finance Balance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Finance Balance",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Volume Bonus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume Bonus",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Commission",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Commission",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DOC Fee",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOC Fee",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Finance Subsidy",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Finance Subsidy",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Fin Margin",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Fin Margin",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "GAP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GAP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "GAP Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GAP Product",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "War",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "War",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "War Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "War Product",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ext",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ext",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ext Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ext Product",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Paint",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Paint",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Paint Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Paint Product",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Ins Margin",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Ins Margin",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total F & I Margin",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total F & I Margin",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Volume Bonus Central",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Volume Bonus Central",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DOC Fee Central",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOC Fee Central",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Total Central Income",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Central Income",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Days in Stock",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Days in Stock",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Last Advertised Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Last Advertised Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Model Analysis Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Model Analysis Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SIV",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SIV",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Stock Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Stock No66",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Chassis No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Chassis No",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Engine Size",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Engine Size",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Body Style",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Body Style",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Mileage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mileage",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fuel Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fuel Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Transmission",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transmission",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Colour",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Colour",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Trim Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Trim Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Number of Doors",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Number of Doors",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Gross Profit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gross Profit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reconditioning Cost",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reconditioning Cost",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PeterVardyEnquiryMaxXLSX",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PeterVardyEnquiryMaxCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DoReferenceTableUpdate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PeterVardyEnquiryMAX",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DoReferenceTableUpdate]",
							"storedProcedureParameters": {
								"SourceSystemID": {
									"value": "4",
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-20T20:41:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyPartsSales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyPartsSales",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyPartsSales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PeterVardyPartsSales": {},
									"SQLDMSPartsSales": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-05-24T15:24:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyVehicleStock')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyVehicleStock",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyVehicleStock",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PeterVardyVehicleStock": {},
									"SQLVehicleStock": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DoReferenceTableUpdate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PeterVardyVehicleStock",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DoReferenceTableUpdate]",
							"storedProcedureParameters": {
								"SourceSystemID": {
									"value": "8",
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateVehicleStock",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DoReferenceTableUpdate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateVehicleStock]"
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-09-16T21:47:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyVehicleWorkshopPrep')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyVehicleWorkshopPrep",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyVehicleWorkshopPrep",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"VSBI4csv": {},
									"SQLVehicleWorkshopPrep": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-05-25T10:32:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyWebStockFeed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyWebStockFeed",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyWebStockFeed",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PeterVardyWebStockFeed": {},
									"WebStockFeed": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-30T19:31:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyWorkshopSales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardySOBI1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardySOBI1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PeterVardyWorkshopSales": {},
									"SQLDMSWorkshopSales": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-05-24T15:08:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WebStockFeed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyWebStockFeed",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyWebStockFeed",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PeterVardyWebStockFeed": {},
									"WebStockFeed": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-09T21:39:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WorkshopPrep')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyVehicleWorkshopPrep",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PeterVardyVehicleWorkshopPrep",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"VSBI4csv": {},
									"SQLVehicleWorkshopPrep": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-09T21:36:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RTCVHCInspectionISHeaders",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCInspectionISItems",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCInspectionISLabour",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCInspectionISParts",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCContactvContactsParms",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCContactvContactTypes",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCGroupvLogFile",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCContactvContacts",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCvBookingStatus",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PeterVardySOBI1",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PeterVardyClocking",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCGroupvAgents",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCBookingvUpsells",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCBookingvUpsellLog",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "EMAXEnquiryActivity",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PeterVardyDMSEmployee",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PeterVardyDMSCustomer",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCInspectionvMediaFile",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-07-19T16:29:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								2
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily 5am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "AutotraderImport-JSON",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCInspectionVHCOutcome",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ImportUnleashed",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-12-31T12:49:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								5
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ImportUnleashed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily 6am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PeterVardyPartsSales",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PeterVardyDMSPartsStock",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-04-02T10:14:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PeterVardyPartsSales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UpdatePeterVardyWebStockFeed')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PeterVardyWebStockFeed",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-07-06T05:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								5
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PeterVardyWebStockFeed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WeekendTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RTCVHCEmployees",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCGroupExtStatus",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCGroupISSections",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCGroupISSubSections",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCInspectionISCheckTypes",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCInspectionVHCType",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCvGroup",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCVHCDealers",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCGroupvDealerRegions",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "RTCCTCBookingvUpsellDeclinedReasons",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PeterVardyDetailedSales_Older",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2020-07-19T14:23:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								5
							],
							"weekDays": [
								"Sunday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PeterVardyDetailedSales_Older')]"
			]
		}
	]
}