autolyticaprod/linkedTemplates/ArmTemplate_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "autolyticaprod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RTCGroupvDealerRegions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataFromRTC",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_GroupvDealerRegions",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vDealersRegions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvDealerRegions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-14T12:43:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCImportCheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ImportHeaderCheckData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "Type",
										"value": "1"
									}
								],
								"sqlReaderQuery": "select groupid, id, created, Updated from dbo.BI_Inspection_vISHeaders",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dbo.RTC_Import_Check where type = 1",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "groupid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "created",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "KeyDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Type"
										},
										"sink": {
											"name": "Type",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Inspection_vISHeaders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RTC_Import_Check",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ImportItemsCheckData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ImportHeaderCheckData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "Type",
										"value": "2"
									}
								],
								"sqlReaderQuery": "select groupid, id, itemid, AuthDate, Updated from dbo.BI_Inspection_vISItems",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dbo.RTC_Import_Check where type = 2",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "groupid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "itemid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ItemID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "AuthDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "KeyDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Type"
										},
										"sink": {
											"name": "Type",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Inspection_vISItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RTC_Import_Check",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ImportLabourCheckData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ImportItemsCheckData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "Type",
										"value": "3"
									}
								],
								"sqlReaderQuery": "select groupid, id, itemid, Labourid, Updated from dbo.BI_Inspection_vISLabour",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dbo.RTC_Import_Check where type = 3",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "groupid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "itemid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ItemID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Labourid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PartsOrLabourID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Type"
										},
										"sink": {
											"name": "Type",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_EXT_BI_Inspection_ISLabour",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RTC_Import_Check",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ImportPartsCheckData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ImportLabourCheckData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "Type",
										"value": "4"
									}
								],
								"sqlReaderQuery": "select groupid, id, itemid, Partsid, Updated from dbo.BI_Inspection_vISParts",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dbo.RTC_Import_Check where type = 4",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "groupid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "itemid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ItemID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Partsid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PartsOrLabourID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdatedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Type"
										},
										"sink": {
											"name": "Type",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_EXT_BI_Inspection_ISParts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RTC_Import_Check",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-12-13T09:17:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCDealers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDateFromRTCToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_Dealers",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DealerID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DealerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Marque",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Marque",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DMS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DMS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vDealers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_Dealers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-19T14:13:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCEmployees')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_Employees",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DealerID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EmpNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "EmployeeNumber",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EmpType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "EmployeeType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vEmployee",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_Employees",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-19T14:23:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCGroupExtStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_GroupvExtStatus",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ExtStatusID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ExtStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vExtStatus",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupExtStatus",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-19T14:45:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCGroupISSections')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_GroupvISSections",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TypeId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TypeId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SectionId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SectionId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LongName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LongName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InUse",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "InUse",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vISSections",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvISSections",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-19T14:56:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCGroupISSubSections')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_GroupvISSubSections",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TypeId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TypeId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SectionId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SectionId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SubSectionId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SubSectionId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DisplaySeq",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DisplaySeq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LongName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LongName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CategoryId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CategoryId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Special",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Special",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "InUse",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "InUse",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Mandatory",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Mandatory",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vISSubSections",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvISSubSections",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-19T15:03:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCInspectionISCheckTypes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_InspectionISCheckTypes",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DealerID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TypeId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TypeId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InUse",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "InUse",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Marque",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Marque",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CheckSheetType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CheckSheetType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_EXT_BI_Inspection_vISCheckTypes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_InspectionISCheckTypes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-19T15:27:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCInspectionISHeaders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy items from the RTC SQL server to the items table\n",
				"activities": [
					{
						"name": "CopyDataFromRTCtoAutolytica",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetLastUpdatedForHeaders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select * from BI_Inspection_vISHeaders where updated > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TypeId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TypeId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Booking",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Booking",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "VehDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VehDesc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Mileage",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Mileage",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NextServ",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NextServ",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "NextMot",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NextMot",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Tech",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Tech",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Advisor",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Advisor",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "hcType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "hcType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "InputStarted",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "InputStarted",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "InputCompleted",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "InputCompleted",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "PartsIdentified",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "PartsIdentified",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LabourIdentified",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LabourIdentified",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "FollowUpCompleted",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FollowUpCompleted",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "InspectionClosed",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "InspectionClosed",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "InspectionPrinted",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "InspectionPrinted",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "PartsAssistance",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "PartsAssistance",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "InvoiceValue",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "InvoiceValue",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "InUse",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "InUse",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PartsRequired",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "PartsRequired",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RegDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "RegDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "JobNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "JobNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NotInspectedReason",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NotInspectedReason",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Franchise",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Franchise",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DMSRef",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DMSRef",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "VehNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "VehNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "QualityControllerId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "QualityControllerId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NewTyre",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NewTyre",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "TyresIdentified",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TyresIdentified",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ExtStatus",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ExtStatus",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ExtAccessed",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ExtAccessed",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ExtResponded",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ExtResponded",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "EventId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EventId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UniqueBookingID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UniqueBookingID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OriginalClosedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "OriginalClosedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "PreAgreedWorkValue",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "PreAgreedWorkValue",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Inspection_vISHeaders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_InspectionvISHeaders_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetLastUpdatedForHeaders",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MaxUpdatedDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": "RTCRaw_InspectionvISHeaders"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQLRTCRaw_LastUpdated",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "UpdateLastUpdatedDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ImportMerge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateLastUpdatedRTCDate]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "RTCRaw_InspectionvISHeaders",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ImportMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateNullDatesBeforeMerge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ImportMerge]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "[[dbo].[RTCRaw_InspectionvISHeaders]",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateNullDatesBeforeMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyDataFromRTCtoAutolytica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "UpdateISHeadersNullDatesBeforeMerge"
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-09-24T20:07:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCInspectionISItems')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetLastUpdatedForHeaders",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MaxUpdatedDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": "RTCRaw_InspectionvISItems"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQLRTCRaw_LastUpdated",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CopyDataFromRTCtoAutolytica",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetLastUpdatedForHeaders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select * from BI_Inspection_vISItems where updated > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SectionId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SectionId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SubSectionId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SubSectionId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OutcomeId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OutcomeId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FollNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FollNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FollDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FollDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "FollType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FollType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RAG",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RAG",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "InnerId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "InnerId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "MiddleId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MiddleId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OuterId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OuterId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "hcType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "hcType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "hcOutcome",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "hcOutcome",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NSInnerId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NSInnerId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NSOuterId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NSOuterId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OSInnerId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OSInnerId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OSOuterId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OSOuterId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Details",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Details",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "PartsAssistance",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "PartsAssistance",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "NoLabour",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NoLabour",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "NoParts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NoParts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "NoPrice",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NoPrice",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "FixedPrice",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "FixedPrice",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "PartsPicked",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "PartsPicked",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Completed",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Completed",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "AuthorisedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AuthorisedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AuthAdvisor",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "AuthAdvisor",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "AuthDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "AuthDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "VideoStatus",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "VideoStatus",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SendVideo",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SendVideo",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ExtOutcome",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ExtOutcome",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TechRAG",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TechRAG",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BookedContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BookedContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Inspection_vISItems",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_InspectionvISItems_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateLastUpdatedDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ImportMerge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateLastUpdatedRTCDate]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "RTCRaw_InspectionvISItems",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ImportMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateNullDatesBeforeMerge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ImportMerge]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "[[dbo].[RTCRaw_InspectionvISItems]",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateNullDatesBeforeMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyDataFromRTCtoAutolytica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateToNullDates]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "[[dbo].[RTCRaw_InspectionvISItems_Merge]",
									"type": "String"
								},
								"ColumnName": {
									"value": "FollDate",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-04T07:32:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCInspectionISLabour')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetLastUpdatedForHeaders",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MaxUpdatedDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": "RTCRaw_InspectionvlSLabour"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQLRTCRaw_LastUpdated",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CopyDataFromRTCtoAutolytica",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetLastUpdatedForHeaders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select * from BI_Inspection_vISLabour where updated > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LabourId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LabourId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Details",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Details",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Allowed",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Allowed",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Discount",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Discount",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "NetPrice",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "NetPrice",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Rate",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "LabourRate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LabourRate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BookingLineNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BookingLineNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_EXT_BI_Inspection_ISLabour",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_InspectionISLabour_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateLastUpdatedDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ImportMerge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateLastUpdatedRTCDate]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "RTCRaw_InspectionvlSLabour",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ImportMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyDataFromRTCtoAutolytica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ImportMerge]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "[[dbo].[RTCRaw_InspectionvlSLabour]",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-29T22:36:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCInspectionISParts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetLastUpdatedForHeaders",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MaxUpdatedDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": "RTCRaw_InspectionvISParts"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQLRTCRaw_LastUpdated",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CopyDataFromRTCtoAutolytica",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetLastUpdatedForHeaders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select * from BI_Inspection_vISParts where updated > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PartsId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PartsId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PartNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PartNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Details",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Details",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Qty",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Discount",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Discount",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "NetPrice",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "NetPrice",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "LabourId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LabourId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BinLocn",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BinLocn",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "InStock",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "InStock",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Reserved",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Reserved",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Excluded",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Excluded",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Cost",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Cost",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "LinkedPartsId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LinkedPartsId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Alternative",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Alternative",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Franchise",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Franchise",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BookingLineNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BookingLineNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_EXT_BI_Inspection_ISParts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_InspectionISParts_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateLastUpdatedDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ImportMerge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateLastUpdatedRTCDate]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "RTCRaw_InspectionvISParts",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ImportMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyDataFromRTCtoAutolytica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ImportMerge]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "[[dbo].[RTCRaw_InspectionvISParts]",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-29T22:36:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCInspectionISParts_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataFromRTCtoAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from BI_Inspection_vISParts",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PartsId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PartsId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PartNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PartNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Details",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Details",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Qty",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Qty",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Discount",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Discount",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "NetPrice",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "NetPrice",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "LabourId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LabourId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BinLocn",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BinLocn",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "InStock",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "InStock",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Reserved",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Reserved",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Excluded",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Excluded",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Cost",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Cost",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "LinkedPartsId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LinkedPartsId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Alternative",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Alternative",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Franchise",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Franchise",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BookingLineNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BookingLineNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_EXT_BI_Inspection_ISParts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_InspectionISParts_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "UpdateLastUpdatedDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ImportMerge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateLastUpdatedRTCDate]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "RTCRaw_InspectionvISParts",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ImportMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyDataFromRTCtoAutolytica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ImportMerge]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "[[dbo].[RTCRaw_InspectionvISParts]",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-09-07T12:21:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCInspectionVHCOutcome')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_InspectionVHCOutcome_Merge",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "inuse",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "InUse",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DealerID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "hctype",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "HCType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "outcometype",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "OutcomeType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "contactcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ContactCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_EXT_BI_Inspection_VHCOutcome",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_InspectionVHCOutcome_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DoReferenceTableUpdate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyRTCDataToAutolytica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DoReferenceTableUpdate]",
							"storedProcedureParameters": {
								"SourceSystemID": {
									"value": "7",
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-07T15:31:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCInspectionVHCType')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_InspectionVHCType",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "inuse",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "InUse",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DealerID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_EXT_BI_Inspection_VHCType",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_InspectionVHCType",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-19T15:30:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCVHCvGroup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table RTCRaw_vGroup",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "GroupName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "GroupName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Enabled",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Enabled",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_EXT_BI_vGroup",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_vGroup",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-07-19T16:35:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Showroom')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyPeterVardyEnquiryMax",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"additionalColumns": [
									{
										"name": "ClientID",
										"value": "10000"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table EnquiryMaxSales",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ClientID",
											"type": "String"
										},
										"sink": {
											"name": "ClientID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Branch",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DealershipID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sales Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Enquiry No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnquiryNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Customer Title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerTitle",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer Forename",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerForename",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer Surname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerSurname",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Company Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CompanyName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Home Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomePhone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Mobile Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MobilePhone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Work Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WorkPhone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Enquiry Created",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnquiryCreatedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Enquiry Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnquiryType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sales Executive",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesExecutive",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Business Manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessManager",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "N/U",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NewOrUsed",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Vehicle Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VehicleType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Make",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Range",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Derivative",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Derivative",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Registration No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegistrationNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Registration Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegistrationDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Stock No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StockNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group Date in Stock",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "GroupDateInStock",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Branch Date in Stock",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "BranchDateInStock",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "First Order Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstOrderDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Enquiry Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnquiryStatus",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Invoiced Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "InvoicedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Expected Delivery Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExpectedDeliveryDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Delivery Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "DeliveryDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Delivery Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DeliveryCategory",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Metal Only",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "MetalOnly",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "OTR Price exc Ins",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "OTRPriceExcIns",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Total Goods & Services inc Ins",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalGoodsAndServicesIncIns",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Financed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Financed",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Finance Provider",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceProvider",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Fin Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Finance Scheme",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceScheme",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Loan Term",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanTerm",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "APR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "APR",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Flat Rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FlatRate",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Finance Balance",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Volume Bonus",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "VolumeBonus",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Commission",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "Commission",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "DOC Fee",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "DocFee",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Finance Subsidy",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceSubsidy",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Total Fin Margin",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalFinanceMargin",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "GAP",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "GAP",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "GAP Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GapProduct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "War",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Warranty",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "War Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WarrantyProduct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Ext",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Extras",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Ext Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExtrasProduct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Paint",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Paint",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Paint Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PaintProduct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Ins Margin",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalInsMargin",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Total F & I Margin",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalFandIMargin",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Volume Bonus Central",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "VolumeBonusCentral",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "DOC Fee Central",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOCFeeCentral",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Total Central Income",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalCentralIncome",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Days in Stock",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DaysInStock",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Last Advertised Price",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastAdvertisedPrice",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Model Analysis Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ModelAnalysisCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SIV",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SIV",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Stock Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StockNo2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Chassis No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ChassisNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Engine Size",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EngineSize",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Body Style",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BodyStyle",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Mileage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mileage",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Fuel Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FuelType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transmission",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transmission",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Colour",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Colour",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trim Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TrimType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Number of Doors",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NumberOfDoors",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Gross Profit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GrossProfit",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Reconditioning Cost",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReconditioningCost",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "dd/MM/yyyy"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PeterVardyEnquiryMaxXLSX",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLEnquiryMax",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DoReferenceTableUpdate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyPeterVardyEnquiryMax",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DoReferenceTableUpdate]",
							"storedProcedureParameters": {
								"SourceSystemID": {
									"value": "4",
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-09T21:40:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VHCHeaders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RTCVHCHeaders",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table dbo.vhcheaders",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "VHCHeadersFromAzureBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCVHCHeaders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-04-25T21:30:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VehicleStock')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyCSVToSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"wildcardFileName": "VehicleStock-*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from vehiclestock where clientid <> 10000",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Client ID"
										},
										"sink": {
											"name": "ClientID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer ID"
										},
										"sink": {
											"name": "DealershipID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vehicle Type"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Registration Number"
										},
										"sink": {
											"name": "RegistrationNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Stock Number"
										},
										"sink": {
											"name": "StockNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Group Date in Stock"
										},
										"sink": {
											"name": "GroupDateInStock",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Dealership Date In Stock"
										},
										"sink": {
											"name": "DealershipDateInStock",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Status"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "New Or Used"
										},
										"sink": {
											"name": "NewOrUsed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Chassis"
										},
										"sink": {
											"name": "Chassis",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Registration Date"
										},
										"sink": {
											"name": "FirstRegisteredDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Make"
										},
										"sink": {
											"name": "Make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Model"
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Derivative"
										},
										"sink": {
											"name": "Derivative",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Trim"
										},
										"sink": {
											"name": "Trim",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Engine Size"
										},
										"sink": {
											"name": "EngineSize",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Bodystyle"
										},
										"sink": {
											"name": "Bodystyle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Odometer"
										},
										"sink": {
											"name": "Mileage",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FuelType"
										},
										"sink": {
											"name": "FuelType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Transmission"
										},
										"sink": {
											"name": "Transmission",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Generic Colour"
										},
										"sink": {
											"name": "GenericColour",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Doors"
										},
										"sink": {
											"name": "Doors",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Stock Value"
										},
										"sink": {
											"name": "SIV",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Vat"
										},
										"sink": {
											"name": "Vat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Source"
										},
										"sink": {
											"name": "Source",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vehicle Category Code"
										},
										"sink": {
											"name": "ModelAnalysisCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Retail Price"
										},
										"sink": {
											"name": "RetailPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Purchaser ID"
										},
										"sink": {
											"name": "Purchaser",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Group Purchase Date"
										},
										"sink": {
											"name": "PurchaseInvoiceDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Available Date"
										},
										"sink": {
											"name": "AvailableDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Progress Code"
										},
										"sink": {
											"name": "ProgressCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reconditioning"
										},
										"sink": {
											"name": "Recon",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Transport Costs"
										},
										"sink": {
											"name": "TransportCosts",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Adjusted Stock Value"
										},
										"sink": {
											"name": "AdjustedSIV",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Received Date"
										},
										"sink": {
											"name": "ReceivedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Purchase Account"
										},
										"sink": {
											"name": "PurchaseAccount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Quarantine Status"
										},
										"sink": {
											"name": "QuarantineStatus",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "dd/MM/yyyy"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VehicleStockCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLVehicleStock",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DoReferenceTableUpdate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyCSVToSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DoReferenceTableUpdate]",
							"storedProcedureParameters": {
								"SourceSystemID": {
									"value": "8",
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateVehicleStock",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DoReferenceTableUpdate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateVehicleStock]"
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-09T21:35:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WorkshopWIP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PeterVardyDMSAftersalesWIP",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "ClientID",
										"value": "10000"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dmsaftersaleswip where clientid = 10000",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ClientID",
											"type": "String"
										},
										"sink": {
											"name": "ClientID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "D",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WIP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WIP",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Date Due",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date Due",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Customer",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reg No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Registration Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Operator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "O/due",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Overdue",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Parts",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Parts Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Lin",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Parts Lines",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Labour",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Labour Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Ln",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Labour Lines",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Total",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Value",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "dd/MM/yyyy"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PeterVardySOBI7CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDMSAftersalesWIP",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-09T21:39:21Z"
			},
			"dependsOn": []
		}
	]
}