autolyticaprod/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "autolyticaprod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyDMSVehicle')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyCSVDataToSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "ClientID",
										"value": "10000"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dbo.dmsvehicle where clientid = 10000",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ClientID",
											"type": "String"
										},
										"sink": {
											"name": "ClientID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "VehicleID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "Make",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "Derivative",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "RegistrationNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "Date",
											"physicalType": "Date",
											"ordinal": 6
										},
										"sink": {
											"name": "DateofRegistration",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"type": "Date",
											"physicalType": "Date",
											"ordinal": 7
										},
										"sink": {
											"name": "DeliveryDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "NewOrUsed",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "Date",
											"physicalType": "Date",
											"ordinal": 9
										},
										"sink": {
											"name": "LastServiceDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"type": "Date",
											"physicalType": "Date",
											"ordinal": 10
										},
										"sink": {
											"name": "NextServiceDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"type": "Date",
											"physicalType": "Date",
											"ordinal": 11
										},
										"sink": {
											"name": "LastMOTDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"type": "Date",
											"physicalType": "Date",
											"ordinal": 12
										},
										"sink": {
											"name": "NextMOTDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"type": "Date",
											"physicalType": "Date",
											"ordinal": 13
										},
										"sink": {
											"name": "LastWorkshopDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "CapCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "ChassisNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "DriverCustomerID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "AftersalesCustomerID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "SalesCustomerID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "RecordStatus",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "dd/MM/yyyy"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PeterVardyVehicleCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDMSVehicle",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-12-23T13:43:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardyEnquiryMAX')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyPeterVardyEnquiryMax",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"additionalColumns": [
									{
										"name": "ClientID",
										"value": "10000"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table EnquiryMaxSales",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ClientID",
											"type": "String"
										},
										"sink": {
											"name": "ClientID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Branch",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DealershipID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sales Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Enquiry No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnquiryNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Customer Title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerTitle",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer Forename",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerForename",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer Surname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerSurname",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Company Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CompanyName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Home Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HomePhone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Mobile Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MobilePhone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Work Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WorkPhone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Enquiry Created",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnquiryCreatedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Enquiry Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnquiryType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sales Executive",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesExecutive",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Business Manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessManager",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "N/U",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NewOrUsed",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Vehicle Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VehicleType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Make",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Range",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Derivative",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Derivative",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Registration No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegistrationNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Registration Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegistrationDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Stock No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StockNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group Date in Stock",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "GroupDateInStock",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Branch Date in Stock",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "BranchDateInStock",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "First Order Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstOrderDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Enquiry Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnquiryStatus",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Invoiced Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "InvoicedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Expected Delivery Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExpectedDeliveryDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Delivery Date",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "DeliveryDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Delivery Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DeliveryCategory",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Metal Only",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "MetalOnly",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "OTR Price exc Ins",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "OTRPriceExcIns",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Total Goods & Services inc Ins",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalGoodsAndServicesIncIns",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Financed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Financed",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Finance Provider",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceProvider",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Fin Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Finance Scheme",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceScheme",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Loan Term",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LoanTerm",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "APR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "APR",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Flat Rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FlatRate",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Finance Balance",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceBalance",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Volume Bonus",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "VolumeBonus",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Commission",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "Commission",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "DOC Fee",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "DocFee",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Finance Subsidy",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "FinanceSubsidy",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Total Fin Margin",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalFinanceMargin",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "GAP",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "GAP",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "GAP Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GapProduct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "War",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Warranty",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "War Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WarrantyProduct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Ext",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Extras",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Ext Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExtrasProduct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Paint",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Paint",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Paint Product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PaintProduct",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Ins Margin",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalInsMargin",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Total F & I Margin",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalFandIMargin",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Volume Bonus Central",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "VolumeBonusCentral",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "DOC Fee Central",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOCFeeCentral",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Total Central Income",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalCentralIncome",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Days in Stock",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DaysInStock",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Last Advertised Price",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastAdvertisedPrice",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Model Analysis Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ModelAnalysisCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SIV",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SIV",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Stock Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StockNo2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Chassis No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ChassisNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Engine Size",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EngineSize",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Body Style",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BodyStyle",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Mileage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mileage",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Fuel Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FuelType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transmission",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transmission",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Colour",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Colour",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trim Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TrimType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Number of Doors",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NumberOfDoors",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Gross Profit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GrossProfit",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Reconditioning Cost",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReconditioningCost",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "dd/MM/yyyy"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PeterVardyEnquiryMaxXLSX",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLEnquiryMax",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DoReferenceTableUpdate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyPeterVardyEnquiryMax",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DoReferenceTableUpdate]",
							"storedProcedureParameters": {
								"SourceSystemID": {
									"value": "4",
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-08-21T06:56:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PeterVardySOBI1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyPeterVardyDataToSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table DMSAftersalesHours",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClientID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S/Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SaleType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Invoice No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InvoiceNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WIP No",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WIPNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RTS code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RTSCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sold",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "SoldHours",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "Taken",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "TakenHours",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "Eff",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "Efficiency",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "Sale Value",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "SaleValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "Rec Rate",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "RecoveryRate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "Mech",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Technician",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "co",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Operator name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OperatorName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Franchise code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FranchiseCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Chassis number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ChassisNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Registration number.",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegistrationNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Date editted",
											"type": "DateTime",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateEdited",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "dd/MM/yyyy"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PeterVardySOBI1CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDMSAftersalesHours",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "EmployeeMasterMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyPeterVardyDataToSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[DoReferenceTableUpdate]",
							"storedProcedureParameters": {
								"SourceSystemID": {
									"value": "3",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-12-23T11:00:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCBookingvUpsellDeclinedReasons')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataFromRTC",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [dbo].[RTCRaw_BookingvUpsellDeclinedReasons]",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ReasonId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ReasonID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Reason",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Reason",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Active",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Active",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "EMail",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Email",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "AddToBooking",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "AddToBooking",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Booking_vUpsellDeclinedReasons",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_BookingvUpsellDeclinedReasons",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-21T22:16:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCBookingvUpsellLog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetLastUpdatedForHeaders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Recorded",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Recorded",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "UpsellId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UpsellId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DeclinedId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DeclinedId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FreeTextDeclinedId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FreeTextDeclinedId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Agent",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Agent",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										},
										"sink": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										}
									},
									{
										"source": {
											"name": "Declined",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Declined",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "LogSeqNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LogSeqNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Campaign",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Campaign",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Booking_vUpsellLog",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_BookingvUpsellLog_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetLastUpdatedForHeaders",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MaxUpdatedDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": "RTCRaw_BookingvUpsellLog"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQLRTCRaw_LastUpdated",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ImportMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyRTCDataToAutolytica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ImportMerge]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "[[dbo].[RTCRaw_BookingvUpsellLog]",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateLastUpdatedDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ImportMerge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateLastUpdatedRTCDate]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "RTCRaw_BookingvUpsellLog",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-21T18:12:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCBookingvUpsells')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "InsertedDate",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table dbo.rtcraw_bookingvupsells",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UpsellId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "UpsellId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "UpsellName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UpsellName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "InsertedDate"
										},
										"sink": {
											"name": "InsertedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Booking_vUpsells",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvUpsells",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-21T18:12:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCContactvContactTypes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [dbo].[RTCRaw_ContactvContactTypes]",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Analysis",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Analysis",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AnalysisGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AnalysisGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Contact_vContactTypes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_ContactvContactTypes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-18T09:42:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCContactvContacts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetLastUpdatedForHeaders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select * from BI_Contact_vContacts where updated > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SeqNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SeqNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Notes1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Notes1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Notes2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Notes2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Notes3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Notes3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ContDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ContDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "FollDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "FollDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Complete",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Complete",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "CompleteCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CompleteCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FollCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FollCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Booking",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Booking",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 6
										},
										"sink": {
											"name": "Value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 6
										}
									},
									{
										"source": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VehDesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VehDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RegDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "RegDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Franchise",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Franchise",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HeaderId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HeaderId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ItemId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "GroupedRAG",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupedRAG",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OpNumCreated",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OpNumCreated",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Contact_vContacts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_ContactvContacts_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetLastUpdatedForHeaders",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MaxUpdatedDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": "RTCRaw_ContactvContacts"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQLRTCRaw_LastUpdated",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ImportMerge",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyRTCDataToAutolytica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ImportMerge]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "[[dbo].[RTCRaw_ContactvContacts]",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateLastUpdatedDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ImportMerge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateLastUpdatedRTCDate]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "RTCRaw_ContactvContacts",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-18T12:09:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCContactvContactsParms')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [dbo].[RTCRaw_ContactvContactParms]",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FollCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FollCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FollDays",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FollDays",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Contact_vContactsParms",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_ContactvContactParms",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-18T09:35:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCGroupvAgents')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [dbo].[RTCRaw_GroupvAgents]",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Grp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Grp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vAgents",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvAgents",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-21T15:47:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCGroupvApplication')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ApplicationId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ApplicationId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ApplicationName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ApplicationName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vApplication",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvApplication_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-13T22:36:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCGroupvEmailLog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataFromRTC",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [dbo].[RTCRaw_GroupvEmailLog]",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "EmailLogID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "EmailLogID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgentID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "AgentID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ErrorLogID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ErrorLogID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Sent",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Sent",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RemoteEmailID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "RemoteEmailID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ServiceID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ServiceID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "EmailChangedID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "EmailChangedID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vEmailLog",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvEmailLog",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-18T19:33:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCGroupvEmailLogNotifications')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataFromRTC",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "EmailID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "EmailID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "EventType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "EventType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SmtpID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SmtpID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Response",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Response",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DeliveryAttempt",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "DeliveryAttempt",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BounceType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BounceType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BounceStatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BounceStatus",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UserAgent",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "UserAgent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TimeStamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TimeStamp",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EmailLogID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "EmailLogID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vEmailLogEventNotifications",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvEmailLogNotifications",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-14T20:28:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCGroupvLogFile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetLastUpdatedForHeaders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "InsertedDate",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": {
									"value": "@concat('select * from BI_Group_vLogFile where created > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Seq",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Seq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Booking",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Booking",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "DateIn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DateIn",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ServCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ServCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tran1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tran1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tran2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tran2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tran3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tran3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TranComm",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TranComm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RegDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "RegDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PayType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PayType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OverRide",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "OverRide",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SACA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SACA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SACU",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SACU",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SourceOfBusiness",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SourceOfBusiness",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastServ",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastServ",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "NextServ",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NextServ",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "MotDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "MotDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Campaign",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Campaign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CampaignPrice",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										},
										"sink": {
											"name": "CampaignPrice",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										}
									},
									{
										"source": {
											"name": "TotalValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										},
										"sink": {
											"name": "TotalValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										}
									},
									{
										"source": {
											"name": "ContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ApplicationId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ApplicationId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "InsertedDate"
										},
										"sink": {
											"name": "InsertedDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vLogFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvLogFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetLastUpdatedForHeaders",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[MaxUpdatedDate]",
								"storedProcedureParameters": {
									"TableName": {
										"type": "String",
										"value": "RTCRaw_GroupvLogFile"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQLRTCRaw_LastUpdated",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "UpdateLastUpdatedDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyRTCDataToAutolytica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateLastUpdatedRTCDate]",
							"storedProcedureParameters": {
								"tablename": {
									"value": "RTCRaw_GroupvLogFile",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "autolytica",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-06T08:51:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCGroupvLogFile_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select count(*) from  BI_Group_vLogFile where updated <> created",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Seq",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Seq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Booking",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Booking",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "DateIn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DateIn",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ServCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ServCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Model",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tran1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tran1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tran2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tran2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tran3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tran3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TranComm",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TranComm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "OpNum",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RegNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RegDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "RegDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ContCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PayType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PayType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OverRide",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "OverRide",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SACA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SACA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SACU",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SACU",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SourceOfBusiness",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SourceOfBusiness",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastServ",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LastServ",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "NextServ",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "NextServ",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "MotDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "MotDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Campaign",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Campaign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CampaignPrice",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										},
										"sink": {
											"name": "CampaignPrice",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										}
									},
									{
										"source": {
											"name": "TotalValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										},
										"sink": {
											"name": "TotalValue",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 8
										}
									},
									{
										"source": {
											"name": "ContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ApplicationId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ApplicationId",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vLogFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvLogFile_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-15T20:09:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCGroupvSMSLog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataFromRTC",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [dbo].[RTCRaw_GroupvSMSLog]",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SMSLogID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SMSLogID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LinkSMSID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "LinkSMSID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DealerID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DealerID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgentID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "AgentID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BookingID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BookingID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SMSID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SMSID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SendDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "SendDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ContSeqNo",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ErrorLogID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ErrorLogID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TypeID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TypeID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Group_vSMSLog",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_GroupvSMSLog",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-05-18T19:34:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCInspectionvMediaFile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataFromRTC",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [dbo].[RTCRaw_InspectionvMediafile]",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "InspectionID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "InspectionID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "InspectionItemID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "InspectionItemID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FileType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FileType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Complete",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Complete",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Status",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Inspection_vMediafile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_InspectionvMediafile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-14T22:18:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCvBookingStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "InsertedDate",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [dbo].[RTCRaw_BookingvBookingStatus]",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BaseCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BaseCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "InsertedDate"
										},
										"sink": {
											"name": "InsertedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_BookingStatus",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_vBookingStatus",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-11-21T18:12:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCTCvRepairCodes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTCDataToAutolytica",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RepairCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Text1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Text1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Text2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Text2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Text3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Text3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Text4",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Text4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Text5",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Text5",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Text6",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Text6",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Allowed",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 7
										},
										"sink": {
											"name": "Allowed",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 7
										}
									},
									{
										"source": {
											"name": "LabType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "LabType",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 7
										},
										"sink": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 7
										}
									},
									{
										"source": {
											"name": "Service",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Service",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "isUpsell",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "isUpsell",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "OnlineGroup",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OnlineGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OnlineDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OnlineDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LinkedUpsellCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LinkedUpsellCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AWS",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "AWS",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CSIContCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CSIContCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "VehicleVisualsPartId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VehicleVisualsPartId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Updated",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_vRepairCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLRTCRaw_vRepairCodes_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-13T22:33:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RTCCheckValues')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CheckValues",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "Type",
										"value": "8"
									}
								],
								"sqlReaderQuery": "select YEAR(updated) as GroupID, month(updated) as ID, COUNT(*) as ValueToCheck\nfrom bi_group_vlogfile\nwhere year(updated) >= 2011\ngroup by YEAR(updated), month(updated)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from rtc_import_check where type = 8",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Type"
										},
										"sink": {
											"name": "Type",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ValueToCheck",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ValueToCheck",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RTC_Ext_BI_Contact_vContacts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RTC_Import_Check",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-12-31T10:57:55Z"
			},
			"dependsOn": []
		}
	]
}