pipeline/RTCCTCGroupvLogFile.json
{
	"name": "RTCCTCGroupvLogFile",
	"properties": {
		"activities": [
			{
				"name": "CopyRTCDataToAutolytica",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastUpdatedForHeaders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "InsertedDate",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "@concat('select * from BI_Group_vLogFile where created > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Seq",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Seq",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Dealer",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Dealer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Booking",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Booking",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Created",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Created",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "DateIn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateIn",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ServCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ServCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Model",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Model",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Tran1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Tran1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Tran2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Tran2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Tran3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Tran3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TranComm",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TranComm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OpNum",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OpNum",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RegNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RegNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RegDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "RegDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Account",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Account",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ContCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ContCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PayType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PayType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OverRide",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OverRide",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SACA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SACA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SACU",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SACU",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SourceOfBusiness",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SourceOfBusiness",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastServ",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastServ",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "NextServ",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NextServ",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "MotDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "MotDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Campaign",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Campaign",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CampaignPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								},
								"sink": {
									"name": "CampaignPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								}
							},
							{
								"source": {
									"name": "TotalValue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								},
								"sink": {
									"name": "TotalValue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								}
							},
							{
								"source": {
									"name": "ContSeqNo",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ContSeqNo",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ApplicationId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ApplicationId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "InsertedDate"
								},
								"sink": {
									"name": "InsertedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RTC_Ext_BI_Group_vLogFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLRTCRaw_GroupvLogFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetLastUpdatedForHeaders",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MaxUpdatedDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": "RTCRaw_GroupvLogFile"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLRTCRaw_LastUpdated",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UpdateLastUpdatedDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyRTCDataToAutolytica",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateLastUpdatedRTCDate]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "RTCRaw_GroupvLogFile",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-11-06T08:51:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}