pipeline/RTCCTCContactvContacts.json
{
	"name": "RTCCTCContactvContacts",
	"properties": {
		"activities": [
			{
				"name": "CopyRTCDataToAutolytica",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastUpdatedForHeaders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from BI_Contact_vContacts where updated > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SeqNo",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SeqNo",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Dealer",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Dealer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ContCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ContCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Notes1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Notes1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Notes2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Notes2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Notes3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Notes3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ContDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ContDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "FollDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FollDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Complete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Complete",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CompleteCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CompleteCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FollCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FollCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Booking",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Booking",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Value",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 6
								},
								"sink": {
									"name": "Value",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "OpNum",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OpNum",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RegNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RegNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Model",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Model",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VehDesc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VehDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RegDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "RegDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Franchise",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Franchise",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "HeaderId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "HeaderId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ItemId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ItemId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "GroupedRAG",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "GroupedRAG",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OpNumCreated",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OpNumCreated",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RTC_Ext_BI_Contact_vContacts",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLRTCRaw_ContactvContacts_Merge",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetLastUpdatedForHeaders",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MaxUpdatedDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": "RTCRaw_ContactvContacts"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLRTCRaw_LastUpdated",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ImportMerge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyRTCDataToAutolytica",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ImportMerge]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "[dbo].[RTCRaw_ContactvContacts]",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateLastUpdatedDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ImportMerge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateLastUpdatedRTCDate]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "RTCRaw_ContactvContacts",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-10-18T12:09:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}