pipeline/RTCVHCInspectionISHeaders.json
{
	"name": "RTCVHCInspectionISHeaders",
	"properties": {
		"description": "Copy items from the RTC SQL server to the items table\n",
		"activities": [
			{
				"name": "CopyDataFromRTCtoAutolytica",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastUpdatedForHeaders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from BI_Inspection_vISHeaders where updated > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Dealer",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Dealer",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TypeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TypeId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Booking",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Booking",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RegNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RegNo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "VehDesc",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "VehDesc",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Mileage",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Mileage",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NextServ",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NextServ",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "NextMot",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NextMot",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Created",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Created",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Tech",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Tech",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Advisor",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Advisor",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "hcType",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "hcType",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "InputStarted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InputStarted",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "InputCompleted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InputCompleted",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "PartsIdentified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "PartsIdentified",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LabourIdentified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LabourIdentified",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FollowUpCompleted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FollowUpCompleted",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "InspectionClosed",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InspectionClosed",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "InspectionPrinted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "InspectionPrinted",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "PartsAssistance",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "PartsAssistance",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "InvoiceValue",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "InvoiceValue",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "InUse",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "InUse",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PartsRequired",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "PartsRequired",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Model",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Model",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RegDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "RegDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "JobNo",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "JobNo",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NotInspectedReason",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NotInspectedReason",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Franchise",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Franchise",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DMSRef",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DMSRef",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "VehNo",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "VehNo",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "QualityControllerId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "QualityControllerId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NewTyre",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NewTyre",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "TyresIdentified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TyresIdentified",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ExtStatus",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ExtStatus",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ExtAccessed",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ExtAccessed",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ExtResponded",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ExtResponded",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "EventId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EventId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UniqueBookingID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "UniqueBookingID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OriginalClosedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OriginalClosedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "PreAgreedWorkValue",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "PreAgreedWorkValue",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RTC_Ext_BI_Inspection_vISHeaders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLRTCRaw_InspectionvISHeaders_Merge",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetLastUpdatedForHeaders",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MaxUpdatedDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": "RTCRaw_InspectionvISHeaders"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLRTCRaw_LastUpdated",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UpdateLastUpdatedDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ImportMerge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateLastUpdatedRTCDate]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "RTCRaw_InspectionvISHeaders",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ImportMerge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateNullDatesBeforeMerge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ImportMerge]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "[dbo].[RTCRaw_InspectionvISHeaders]",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateNullDatesBeforeMerge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyDataFromRTCtoAutolytica",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "UpdateISHeadersNullDatesBeforeMerge"
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-09-24T20:07:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}