pipeline/RTCVHCInspectionISLabour.json
{
	"name": "RTCVHCInspectionISLabour",
	"properties": {
		"activities": [
			{
				"name": "GetLastUpdatedForHeaders",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MaxUpdatedDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": "RTCRaw_InspectionvlSLabour"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLRTCRaw_LastUpdated",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyDataFromRTCtoAutolytica",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastUpdatedForHeaders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from BI_Inspection_vISLabour where updated > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ItemId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ItemId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LabourId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LabourId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Details",
									"type": "String",
									"physicalType": "ntext"
								},
								"sink": {
									"name": "Details",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Allowed",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Allowed",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Price",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Price",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RepairCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RepairCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Discount",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Discount",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "NetPrice",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "NetPrice",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "Rate",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Rate",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "LabourRate",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LabourRate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BookingLineNo",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BookingLineNo",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RTC_EXT_BI_Inspection_ISLabour",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLRTCRaw_InspectionISLabour_Merge",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateLastUpdatedDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ImportMerge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateLastUpdatedRTCDate]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "RTCRaw_InspectionvlSLabour",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ImportMerge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyDataFromRTCtoAutolytica",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ImportMerge]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "[dbo].[RTCRaw_InspectionvlSLabour]",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-07-29T22:36:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}