pipeline/RTCVHCInspectionISItems.json
{
	"name": "RTCVHCInspectionISItems",
	"properties": {
		"activities": [
			{
				"name": "GetLastUpdatedForHeaders",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[MaxUpdatedDate]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": "RTCRaw_InspectionvISItems"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLRTCRaw_LastUpdated",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyDataFromRTCtoAutolytica",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastUpdatedForHeaders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from BI_Inspection_vISItems where updated > ''',activity('GetLastUpdatedForHeaders').output.firstrow.lastupdated,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "GroupID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ItemId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ItemId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SectionId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SectionId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SubSectionId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SubSectionId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OutcomeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OutcomeId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FollNum",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FollNum",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FollDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FollDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FollType",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FollType",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "RAG",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RAG",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "InnerId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "InnerId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "MiddleId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MiddleId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OuterId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OuterId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "hcType",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "hcType",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "hcOutcome",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "hcOutcome",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NSInnerId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NSInnerId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "NSOuterId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NSOuterId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OSInnerId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OSInnerId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "OSOuterId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OSOuterId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Details",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Details",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Price",
									"type": "Decimal",
									"physicalType": "decimal"
								},
								"sink": {
									"name": "Price",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "PartsAssistance",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "PartsAssistance",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "NoLabour",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NoLabour",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "NoParts",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NoParts",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "NoPrice",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NoPrice",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "FixedPrice",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "FixedPrice",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "PartsPicked",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "PartsPicked",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Completed",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Completed",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AuthorisedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AuthorisedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AuthAdvisor",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AuthAdvisor",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AuthDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AuthDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "VideoStatus",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "VideoStatus",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SendVideo",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "SendVideo",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ExtOutcome",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ExtOutcome",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TechRAG",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TechRAG",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BookedContSeqNo",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BookedContSeqNo",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Updated",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RTC_Ext_BI_Inspection_vISItems",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQLRTCRaw_InspectionvISItems_Merge",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateLastUpdatedDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ImportMerge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateLastUpdatedRTCDate]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "RTCRaw_InspectionvISItems",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ImportMerge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateNullDatesBeforeMerge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ImportMerge]",
					"storedProcedureParameters": {
						"tablename": {
							"value": "[dbo].[RTCRaw_InspectionvISItems]",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateNullDatesBeforeMerge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyDataFromRTCtoAutolytica",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateToNullDates]",
					"storedProcedureParameters": {
						"TableName": {
							"value": "[dbo].[RTCRaw_InspectionvISItems_Merge]",
							"type": "String"
						},
						"ColumnName": {
							"value": "FollDate",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "autolytica",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-08-04T07:32:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}